Progressive Neural Networks
Neural Message Passing for Quantum Chemistry
DEEP COMPRESSION COMPRESSING DEEP NEURAL NETWORKS WITH PRUNING, TRAINED QUANTIZATION AND HUFFMAN CODING
A simple neural network module for relational reasoning
__pycache__
